.css-1752boj {
  max-width: 100%;
  height: auto;
}

.css-1v7m7jq {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.css-ojkpqy {
  height: 24px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 8px;
}

.css-ojkpqy svg {
  margin-left: 8px;
}

.css-ixartp {
  letter-spacing: normal;
  color: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.css-ojkpqy::after {
  content: "";
  display: block;
  height: 14px;
  margin: 0px 16px;
  width: 1px;
  background: rgb(211, 211, 211);
}

.icon-svg {
  margin-right: 8px;
}

.css-1vx031w {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.css-19n8dai {
  padding-top: 24px;
}

.css-1p8obn8 {
  padding: 0px 48px;
}

.css-lpl311 {
  -webkit-box-flex: 1;
  flex-grow: 1;
  text-transform: capitalize;
}

.css-1rijosd {
  margin-bottom: 2px;
}

.css-fgboif {
  letter-spacing: normal;
  font-size: 25px;
  line-height: 32px;
  font-weight: bold;
  color: rgb(48, 48, 48);
}

.css-k008qs {
  display: flex;
}

.css-1ig8ip8 {
  letter-spacing: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: inline-block;
  color: rgb(48, 48, 48);
}

.css-cihju5 {
  text-align: left;
  flex-shrink: 0;
}

.css-4boxdp {
  display: flex;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.css-nfbknm {
  color: rgb(48, 48, 48);
  display: inline-block;
}

.css-1x3r91k {
  font-size: 28px;
  line-height: 36px;
}

.css-1x3r91k {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: rgb(48, 48, 48);
}

.css-rxq69m {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 16px;
  color: rgb(48, 48, 48);
}

.css-rxq69m {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 16px;
  color: rgb(48, 48, 48);
}

.css-v1qjdi {
  letter-spacing: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: rgb(48, 48, 48);
}

.css-14k6wqd {
  padding: 0px;
  margin-bottom: 56px;
  box-shadow: none;
  margin-left: 80px;
}

.css-1p8obn8 {
  padding: 0px 80px;
}

.css-1xpewq4 {
  color: rgb(48, 48, 48);
  margin-bottom: 0px;
}

.css-mq615 {
  letter-spacing: normal;
  color: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 32px;
}

.css-1a3g4s {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0px 0px;
}

.css-1wpv10e {
  width: 50%;
  padding: 0px 0px 16px;
}

.css-1acq1dr {
  padding-left: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-1acq1dr > svg {
  height: 24px;
  width: 24px;
}

.css-stb5t9 {
  text-align: center;
  text-transform: capitalize;
  display: flex;
}

.css-1p1vgp0 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.css-tc23vv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  opacity: 0.4;
}

.css-10v65p4 {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.css-ltdyfs {
  width: 50%;
}

.css-ltdyfs {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 8px;
  text-align: left;
}

.css-ltdyfs::before {
  content: "";
  position: relative;
  top: 9px;
  width: 5px;
  height: 5px;
  margin-left: 5px;
  border-radius: 50%;
  background: rgb(48, 48, 48);
}

.css-l238jx {
  letter-spacing: normal;
  color: inherit;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  padding-left: 4px;
}

.css-ee94a4 {
  letter-spacing: normal;
  color: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  margin-left: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
  max-width: 95%;
}

.css-rlze51 {
  border-radius: 8px;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
  margin-bottom: 20px;
  overflow: hidden;
}

.css-1p5re2e {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 22px 16px;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.css-qa186o > svg path {
  fill: rgb(1, 132, 137);
}

.css-qa186o > svg {
  margin-left: 4px;
}

.css-1p5re2e > a {
  margin-right: 16px;
}

.css-17hovo1 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-ixpw6d {
  font-size: 15px;
  line-height: 24px;
}

.css-1jql4ni > div {
  margin-left: 8px;
}

.css-1jql4ni > div {
  margin-left: 8px;
}

.margin-between-sections {
    margin-top: 40px;
  }