.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.type-container {
    position: relative;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.type-container label {
    margin-bottom: 5px;
}




.price-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 200px; /* Adjust the width as needed */
}

.price-container label {
    margin-bottom: 5px;
}

.price-inputs {
    display: flex;
}

.min-price-input,
.max-price-input {
    flex: 1; /* Make both inputs take up equal space */
    width: 50%; /* Set the width to 50% to make both inputs equal */
}








.type-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.type-dropdown label {
    display: block;
    margin-bottom: 5px;
}

.type-dropdown label input[type="checkbox"] {
    margin-right: 5px;
}

.apartment-column {
    margin-bottom: 20px; /* Adjust as needed */
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-label {
    margin-left: 5px; /* Adjust as needed */
}


.city-search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  
}

.city-search-container label {
    margin-bottom: 5px;
}

.city-suggestions {
  position: absolute;
  top: 100%; /* Position below the search input */
  left: 0;
  z-index: 999; /* Ensure it overlays other content */
  background-color: white;
  border: 1px solid #ccc;
  border-top: none; /* Remove top border */
  width: 100%; /* Occupy full width */
  max-height: 200px; /* Limit height to avoid excessive scrolling */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.city-suggestions > div {
  padding: 5px 10px;
  cursor: pointer;
}

.city-suggestions > div:hover {
  background-color: #f0f0f0;
}

.button-space {
    margin: 0px 5px; /* Adjust the margin as needed */
}

.btn.button-space {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    background-color: #f2994a;
    border-color: #f2994a;
    color: #fff; /* Text color */
}

.btn.button-space:hover {
    background-color: #e28a3c; /* Darker shade when hovered */
    border-color: #e28a3c;
}

.btn.btn-primary {
    background-color: #f2994a;
    border-color: #f2994a;
    color: #fff; /* Text color */
    margin-top: 25px; /* Adjust the margin as needed */
}

.btn.btn-primary:hover {
    background-color: #e28a3c; /* Darker shade when hovered */
    border-color: #e28a3c;
}


.rooms-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 200px; /* Adjust the width as needed */
}

.rooms-container label {
    margin-bottom: 5px;
}

.room-inputs {
    display: flex;
}

.min-room-input,
.max-room-input {
    flex: 1; /* Make both inputs take up equal space */
    width: 50%; /* Set the width to 50% to make both inputs equal */
}
